.main-container {
    display: flex; 
}

.section-container {
    width: 40vw;
    height: 15vh;
    margin: 1vh;

    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;

    border: 1px solid grey;
}

h2 {
    margin-left: 5vw;
}

#btn {
    width: 40vw;
    height: 10vh;
    margin: 1vh;

    background-color: rgb(192, 79, 79);

    border: none;
}